<div class="row">
  <div class="col-lg-12">
    <h1 class="bg-warning">レストラン一覧</h1>
     <p>レストラン情報が表示されます。</p>

    <table class="table table-striped">
        <thead>
          <tr>
            <th>店名</th>
            <th>電話番号</th>
            <th>住所</th>
            <th>ホームページ</th>
            <th colspan="3"></th>
          </tr>
        </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.phone %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.homepage %></td>
        <td><%= link_to '詳細', restaurant, class: "btn btn-default btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
 <div class="text-center">
     <%= link_to '新規レストラン登録', new_restaurant_path, class: "btn btn-default btn-md" %>
  </div>

<br>
