<div class="row color">
  <div class="col-md-8">
    <div class="panel panel-warning">
      <div class="panel-heading">レストラン一覧</div>

        <div class="panel-body">
          <p>お気に入りのレストランを登録して、レビューしてください。<br>他のユーザーが登録したレストランにも、レビューが書けるよ！</p>
        </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>店名</th>
            <th>電話番号</th>
            <th>住所</th>
            <th>ホームページ</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @restaurants.each do |restaurant| %>
            <tr>
              <td><%= restaurant.name %></td>
              <td><%= restaurant.phone %></td>
              <td><%= restaurant.address %></td>
              <td><%= restaurant.homepage %></td>
              <td><%= link_to "詳細", restaurant, class: "btn btn-default btn-xs" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

        <br>
      <div class="text-center">
         <%= link_to '新規レストラン登録', new_restaurant_path, class: "btn btn-default btn-md" %>
      </div>
        <br>

    </div>
  </div>

 <br>

  <div class="col-md-2">
    <div class="input-group" style="width:380px;text-align:center;margin:0 auto;">
    <%= search_form_for @q do |f| %>

      <%= f.search_field :name_cont, placeholder: "レストラン名を検索" %>

      <%= f.submit "検索" %>
    <% end %>
    </div>
  </div>

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <div class="container">
      <hr>
        <div class="text-center center-block">
            <p class="txt-railway">- スパルタキャンプ５期　小玉 -</p>
            <br />
                <!--Pulling Awesome Font -->


    <div class="col-md-12">
      <ul class="social-network social-circle">
        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>

          </div>
      </div>
</div>
