<h3 class="bg-warning">店舗情報</h3>
<p>
  <strong>店名:</strong>
  <%= @restaurant.name %>
</p>
<p>
  <strong>電話番号:</strong>
  <%= @restaurant.phone %>
</p>
<p>
  <strong>住所:</strong>
  <%= @restaurant.address %>
</p>
<p>
  <strong>ホームページ:</strong>
  <%= @restaurant.homepage %>
</p>

<%= link_to '編集', edit_restaurant_path(@restaurant) %> |
<%= link_to '削除', restaurant_path(@restaurant), method: :delete %> |
<%= link_to '戻る', restaurants_path %> |
<%= link_to 'レビューを書く', new_restaurant_review_path(@restaurant) %> |

<hr>

 <h3 class="bg-warning">評価平均</h3>
    <p><%= @points %></p>

<hr>

    <h3 class="bg-warning">レビュー一覧</h3>
    <% @restaurant.reviews.each do |review| %>

      <div class="notice notice-warning">
        <h4><%= review.body %></h4>
          <em><footer>　ー <%= review.user.family_name %>
            さんがレビューしました。
          </footer></em>
      </div>

      <%= link_to '編集', edit_restaurant_review_path(@restaurant, review) %> |
      <%= link_to "削除", restaurant_review_path(@restaurant, review), method: :delete %>


    <% end %>

<hr>
    <h3 class="bg-warning">レビューを残したユーザー一覧</h3>
    <% @restaurant.users.each do |user| %>
      <p><%= user.family_name %>さん</p>
    <% end %>
