<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @restaurant.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Homepage:</strong>
  <%= @restaurant.homepage %>
</p>

<%= link_to '編集する', edit_restaurant_path(@restaurant) %> |
<%= link_to '戻る', restaurants_path %> |
<%= link_to 'レビューを書く', new_restaurant_review_path(@restaurant) %>

<hr>

    <h4>評価</h4>

    <% @restaurant.reviews.each do |review| %>
      <p>
      <%= review.point %>
      </p>
    <% end %>
<br>
<br>
 <h4>評価平均</h4>
    <p>
    <%= @points %>
    </p>

<hr>

    <h2>レビュー一覧</h2>
    <% @restaurant.reviews.each do |review| %>
      <p>
        <%= review.body %> <br>
        by <%= review.user.email %>
      </p>
    <% end %>

<hr>
    <h2>レビューを残したユーザー一覧</h2>
    <% @restaurant.users.each do |user| %>
      <p><%= user.email %></p>
    <% end %>
