<h3 class="bg-warning">店舗情報</h3>

<table class="table table-condensed">

<p>
  <strong>　店　名:</strong>　
  <%= @restaurant.name %>
</p>
<p>
  <strong>電話番号:</strong>　
  <%= @restaurant.phone %>
</p>
<p>
  <strong>　住　所:</strong>　
  <%= @restaurant.address %>
</p>
<p>
  <strong>　Ｈ　Ｐ:</strong>　
  <%= @restaurant.homepage %>
</p>

</table>

<%= link_to '編集', edit_restaurant_path(@restaurant) %> |
<%= link_to '削除', restaurant_path(@restaurant), method: :delete %> |
<%= link_to 'レビューを書く', new_restaurant_review_path(@restaurant) %> |
<%= link_to '戻る', restaurants_path %>

<hr>

 <h3 class="bg-warning">評価平均</h3>

  <% if @points <= 1 %>
    <h4><%= @points %>　★☆☆☆☆</h4>
  <% elsif @points <= 2 %>
    <h4><%= @points %>　★★☆☆☆</h4>
  <% elsif @points <= 3 %>
    <h4><%= @points %>　★★★☆☆</h4>
  <% elsif @points <= 4 %>
    <h4><%= @points %>　★★★★☆</h4>
  <% else %>
    <h4><%= @points %>　★★★★★</h4>
  <% end %>

<hr>

    <h3 class="bg-warning">レビュー一覧</h3>
    <% @restaurant.reviews.each do |review| %>

      <div class="notice notice-warning">
        <h4><%= review.body %></h4>
          <em><footer>　ー <%= review.user.family_name %>
            さんがレビューしました。
          </footer></em>
      </div>

      <% if review.user.id == current_user.id %>
        <%= link_to '編集', edit_restaurant_review_path(@restaurant, review) %> |
        <%= link_to "削除", restaurant_review_path(@restaurant, review), method: :delete %>
      <% else %>
        <p></p>
      <% end %>

    <% end %>

<hr>
    <h3 class="bg-warning">レビューを残したユーザー一覧</h3>
    <% @restaurant.users.each do |user| %>
      <p><%= user.family_name %>さん</p>
    <% end %>
